##############################
## Java
##############################
Main
HELP.md
README.md
invoice.iml
release.properties
invoice.iml
main
##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
.idea/compiler.xml
.idea/workspace.xml
invoice.iml
*.iml
*.ipr
*.iws
##############################
## Maven
##############################
target/
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/
mvnw
mvnw.iml
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
libraries/